##  XClove Time Series Data Visualized

XClove has several sensors available for testing in September 10-17. It will give the sensor data of:

Temperature (C)
Humidity (%)
Moisture (%)
Weight (gram)

### 1. Load the csv from directory

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
clovescsv = pd.read_csv("D:\Kuliah\XLFL\IoT\Data Feed In/feed 10-17 sept clean.csv")
clovescsv

,created_at,entry_id,temperature,humidity,moisture,field4
0,2020-09-10 23:30:56 WIB,3761,27.2,90.6,105,2206.42
1,2020-09-10 23:31:12 WIB,3762,NAN,NAN,93,2306.42
2,2020-09-10 23:31:28 WIB,3763,27.1,91.1,119,2347.95
3,2020-09-10 23:31:45 WIB,3764,27,90.7,108,2452.00
4,2020-09-10 23:32:01 WIB,3765,27,90.8,115,2279.26
...,...,...,...,...,...,...
27268,2020-09-17 10:30:59 WIB,31029,45,42,28,119.95
27269,2020-09-17 10:31:15 WIB,31030,44.9,42.8,22,130.21
27270,2020-09-17 10:31:31 WIB,31031,NAN,NAN,45,123.26
27271,2020-09-17 10:31:47 WIB,31032,45,43.8,45,131.95
27272,2020-09-17 10:32:03 WIB,31033,45.1,43.6,32,152.74

or basically just use ibm_db that I uploaded (error)

###### Data Information

Data types

In [2]:
clovescsv.dtypes

created_at      object
entry_id         int64
temperature     object
humidity        object
moisture         int64
field4         float64
dtype: object

Data counts

In [3]:
clovescsv.count()

created_at     27273
entry_id       27273
temperature    27273
humidity       27273
moisture       27273
field4         27273
dtype: int64

###### Replace NaN value of Data
I wanna replace the NAN value with average from above 5 and below 5 of data

In [4]:
clovescsv[clovescsv.humidity==" NAN"]

,created_at,entry_id,temperature,humidity,moisture,field4
1,2020-09-10 23:31:12 WIB,3762,NAN,NAN,93,2306.42
9,2020-09-10 23:33:23 WIB,3770,NAN,NAN,111,2246.42
17,2020-09-10 23:35:33 WIB,3778,NAN,NAN,128,2150.68
22,2020-09-10 23:36:54 WIB,3783,NAN,NAN,130,2134.11
23,2020-09-10 23:37:10 WIB,3784,NAN,NAN,130,2132.32
...,...,...,...,...,...,...
27255,2020-09-17 10:27:27 WIB,31016,NAN,NAN,43,136.95
27258,2020-09-17 10:28:16 WIB,31019,NAN,NAN,38,139.58
27260,2020-09-17 10:28:49 WIB,31021,NAN,NAN,40,130.53
27265,2020-09-17 10:30:10 WIB,31026,NAN,NAN,40,125.37
27270,2020-09-17 10:31:31 WIB,31031,NAN,NAN,45,123.26

In [5]:
cleandf = clovescsv.copy()
cleandf

,created_at,entry_id,temperature,humidity,moisture,field4
0,2020-09-10 23:30:56 WIB,3761,27.2,90.6,105,2206.42
1,2020-09-10 23:31:12 WIB,3762,NAN,NAN,93,2306.42
2,2020-09-10 23:31:28 WIB,3763,27.1,91.1,119,2347.95
3,2020-09-10 23:31:45 WIB,3764,27,90.7,108,2452.00
4,2020-09-10 23:32:01 WIB,3765,27,90.8,115,2279.26
...,...,...,...,...,...,...
27268,2020-09-17 10:30:59 WIB,31029,45,42,28,119.95
27269,2020-09-17 10:31:15 WIB,31030,44.9,42.8,22,130.21
27270,2020-09-17 10:31:31 WIB,31031,NAN,NAN,45,123.26
27271,2020-09-17 10:31:47 WIB,31032,45,43.8,45,131.95
27272,2020-09-17 10:32:03 WIB,31033,45.1,43.6,32,152.74

In [6]:
# Make it 0 first, so it's easier to replace i guess
i = 0
while(i != clovescsv.temperature.count()):
    if(cleandf.temperature[i] == " NAN"):
        cleandf.loc[i, 'temperature'] = cleandf.loc[i-1,'temperature']
        cleandf.loc[i, 'humidity'] = cleandf.loc[i-1, 'humidity']
    i=i+1
cleandf

#Note that doing this also replace the clovescsv (WHY?) - We need to use loc to avoid doubling the clovecsv

,created_at,entry_id,temperature,humidity,moisture,field4
0,2020-09-10 23:30:56 WIB,3761,27.2,90.6,105,2206.42
1,2020-09-10 23:31:12 WIB,3762,27.2,90.6,93,2306.42
2,2020-09-10 23:31:28 WIB,3763,27.1,91.1,119,2347.95
3,2020-09-10 23:31:45 WIB,3764,27,90.7,108,2452.00
4,2020-09-10 23:32:01 WIB,3765,27,90.8,115,2279.26
...,...,...,...,...,...,...
27268,2020-09-17 10:30:59 WIB,31029,45,42,28,119.95
27269,2020-09-17 10:31:15 WIB,31030,44.9,42.8,22,130.21
27270,2020-09-17 10:31:31 WIB,31031,44.9,42.8,45,123.26
27271,2020-09-17 10:31:47 WIB,31032,45,43.8,45,131.95
27272,2020-09-17 10:32:03 WIB,31033,45.1,43.6,32,152.74

To be safe, lets change the data type

In [7]:
cleandf.temperature = pd.to_numeric(cleandf.temperature)
cleandf.humidity =  pd.to_numeric(cleandf.humidity)

In [ ]:
i = 0
while (i != clovescsv.temperature.count()):
    cleandf.loc[i, 'created_at'] = cleandf.created_at[i].replace(" WIB","")
    i=i+1

In [ ]:
cleandf['created_at'] = pd.to_datetime(cleandf['created_at'], format='%Y-%m-%d %H:%M:%S')
#cleandf.set_index("created_at", inplace=False)

In [ ]:
cleandf.dtypes

Summarize the Dataset

In [ ]:
cleandf.describe()

### 2. Plot the graph
Use matplot to plot the initial graph

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn
seaborn.set()

In [ ]:
fig = plt.figure(figsize=(20, 10))
gs = plt.GridSpec(nrows=2, ncols=2, figure=fig)

ax0 = fig.add_subplot(gs[0, 0])
ax0.plot(cleandf.created_at, cleandf.temperature )
ax0.set_title("Temperature (DHT21)", fontsize = 16)

ax1 = fig.add_subplot(gs[1, 0])
ax1.plot(cleandf.created_at, cleandf.humidity)
ax1.set_title("Humidity (DHT21)", fontsize = 16)

ax2 = fig.add_subplot(gs[:, 1])
ax2.plot(cleandf.created_at, cleandf.moisture)
ax2.set_title("Moisture (FC-28)", fontsize = 16)

fig.suptitle("Sensor Data", fontsize = 25)
plt.show()

### 3. Plotting moving average
Since our moisture data is full of noise, we need to smoothen the curve so we can look at the trend properly

In [ ]:
moistReal = pd.DataFrame(cleandf.moisture)
moistEMA = pd.DataFrame(cleandf.moisture.ewm(alpha=0.01,adjust = False).mean())
moistSMA = pd.DataFrame(cleandf.moisture.rolling(300,min_periods=1).mean())

moist=pd.concat([cleandf.created_at,moistReal,moistEMA,moistSMA],axis=1)
moist.columns=['created_at','real','EMA','SMA']
moist

##### Compare each moving average method

In [ ]:
moist[['real', 'EMA', 'SMA']].plot(color=['green','orchid','orange'], linewidth=3, figsize=(12,6), alpha=0.8)

Both EMA and SMA are quite accurate given the right parameters.
Let's do the same method for temperature & humidity

In [ ]:
tempReal = pd.DataFrame(cleandf.temperature)
tempEMA = pd.DataFrame(cleandf.temperature.ewm(alpha=0.01,adjust = False).mean())
tempSMA = pd.DataFrame(cleandf.temperature.rolling(300,min_periods=1).mean())

temp=pd.concat([cleandf.created_at,tempReal,tempEMA,tempSMA],axis=1)
temp.columns=['created_at','real','EMA','SMA']

temp[['real', 'EMA', 'SMA']].plot(color=['green','orchid','orange'], linewidth=3, figsize=(12,6), alpha=0.8)

In [ ]:
humdReal = pd.DataFrame(cleandf.humidity)
humdEMA = pd.DataFrame(cleandf.humidity.ewm(alpha=0.01,adjust = False).mean())
humdSMA = pd.DataFrame(cleandf.humidity.rolling(300,min_periods=1).mean())

humd=pd.concat([humdReal,humdEMA,humdSMA],axis=1)
humd.columns=['real','EMA','SMA']

humd[['real', 'EMA', 'SMA']].plot(color=['green','orchid','orange'], linewidth=3, figsize=(12,6), alpha=0.8)

Create entirely new dataframe for smoothen charts

In [ ]:
smoothdf=pd.concat([cleandf.created_at,moistEMA,tempEMA,humdEMA],axis=1)
smoothdf

In [ ]:
fig = plt.figure(figsize=(20, 10))
gs = plt.GridSpec(nrows=2, ncols=2, figure=fig)

ax0 = fig.add_subplot(gs[0, 0])
ax0.plot(smoothdf.created_at, smoothdf.temperature )
ax0.set_title("Temperature (DHT21)", fontsize = 16)

ax1 = fig.add_subplot(gs[1, 0])
ax1.plot(smoothdf.created_at, smoothdf.humidity)
ax1.set_title("Humidity (DHT21)", fontsize = 16)

ax2 = fig.add_subplot(gs[:, 1])
ax2.plot(smoothdf.created_at, smoothdf.moisture)
ax2.set_title("Moisture (FC-28)", fontsize = 16)

fig.suptitle("Sensor Data (Smoothen)", fontsize = 25)
plt.show()

In [ ]:
#smoothdf[['moisture', 'temperature', 'humidity']].plot(color=['blue','red','orange'], linewidth=3, figsize=(10,6), alpha=0.8)
plt.figure(figsize=(30,20))
plt.plot(smoothdf.created_at,smoothdf[['moisture', 'temperature', 'humidity']], linewidth=3)
plt.xticks(fontsize = 25)
plt.yticks(fontsize = 25)
plt.show()

### 4. Analyze the data
We need to split the data by one-day basis to look more detial on how each parameters correlate

In [ ]:
daybasis=pd.concat([pd.DataFrame(moist.created_at[(moist['created_at'] > '2020-09-12 00:00:00') & (moist['created_at'] < '2020-09-13 23:59:59')]), \
                    moistSMA[(moist['created_at'] > '2020-09-12 00:00:00') & (moist['created_at'] < '2020-09-13 23:59:59')],\
                    tempSMA[(moist['created_at'] > '2020-09-12 00:00:00') & (moist['created_at'] < '2020-09-13 23:59:59')],\
                    humdSMA[(moist['created_at'] > '2020-09-12 00:00:00') & (moist['created_at'] < '2020-09-13 23:59:59')]],\
                    axis=1)

daybasis.dtypes

In [ ]:
x = daybasis['created_at']
y = daybasis[['moisture','temperature','humidity']]

plt.figure(figsize=(30,20))
plt.xticks(fontsize = 25, rotation = 45)
plt.yticks(fontsize = 25)
plt.plot(x, y, linewidth = 4)
plt.legend(['Moisture','Temperature','Humidity'],prop = {'size': 30})
plt.show()

from the data we can see that there's an increase in moisture around 15:00 to 08:00

#### Explolatory Analysis with Time Series Decomposition
Based on this link https://thecleverprogrammer.com/2020/07/01/time-series-analysis-and-forecasting-with-python/

In [ ]:
from pylab import rcParams
import statsmodels.api as sm

In [ ]:
#lets create new dataframe. Just to be clear - tsdf = time series dataframe (with time indexing)
#tsdf = cleandf.copy()
tsdf = smoothdf.copy()
tsdf = tsdf.set_index('created_at')
tsdf.index

In [ ]:
# y as the moisture label 
y = tsdf['moisture'].resample('1H').mean()
y = pd.DataFrame(y)

In [ ]:
# we need to look for missing values first
y.isna().sum()

In [ ]:
#replace the missing value
#y.loc[y['moisture'].isna() == True] = y['moisture'].mean()
#y.iloc[10,0] == 'NaN'
#y.loc[y['moisture'].isna() == True].iloc[0] 
#y = y.fillna(0)
i = 0
while (i != len(y)):
    if(pd.isna(y['moisture'][i])):
        #need a better way to replace NAN value. Using nearby observation (i to i+5) gave an error with returning NaN
        y['moisture'][i] = y['moisture'][i-1]
    i=i+1

In [ ]:
y[pd.isna(y['moisture']) == True] #if there's nothing to return, then you're doing good.

In [ ]:
# 33s freq
freq=round((24*60)/(33/60))
decomposition = sm.tsa.seasonal_decompose(y, model='additive', freq=24)

In [ ]:
rcParams['figure.figsize'] = 18, 8
fig = decomposition.plot()
plt.show()

#### Test if the data is stationary

In [ ]:
from statsmodels.tsa.stattools import adfuller

In [ ]:
result = adfuller(y)
result
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
for key, value in result[4].items():
    print('\t%s: %.3f' % (key, value))

### 5. Transform to Stationary

In [ ]:
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

In [ ]:
plot_acf(y, lags = 60);
plt.xlim((0,60))
plot_pacf(y, lags = 60);

Order \
p = 55 for decaying to zero \
q = 2 for moving to critical \
d = 1 for making stationary?

### 6. Forecasting

In [ ]:
#choose the stationary data
y_train = y[:round(len(y)*0.8)]
y_test = y[round(len(y)*0.8):]

In [ ]:
import itertools
p = d = q = range(0, 3)
#p = range(54,57)
#d = range(0,2)
#q = range(0,3)
pdq = list(itertools.product(p, d, q))
seasonal_pdq = [(x[0], x[1], x[2], 24) for x in list(itertools.product(p, d, q))]

In [ ]:
for param in pdq:
    for param_seasonal in seasonal_pdq:
        try:
            mod = sm.tsa.statespace.SARIMAX(y_train,
                                            order=param,
                                            seasonal_order=param_seasonal,
                                            enforce_stationarity=False,
                                            enforce_invertibility=False)
            results = mod.fit()
            print('ARIMA{}x{} - AIC:{}'.format(param, param_seasonal, results.aic))
        except:
            continue

In [ ]:
mod = sm.tsa.statespace.SARIMAX(y_train,
                                order=(4, 1, 1),
                                seasonal_order=(1, 1, 1, 24),
                                enforce_stationarity=False,
                                enforce_invertibility=False)
results = mod.fit()
results.summary()

In [ ]:
results.plot_diagnostics(figsize=(16, 8))
plt.show()

In [ ]:
pred = results.get_prediction(dynamic=False)
pred_ci = pred.conf_int()
ax = y_train.plot(label='observed',linewidth = 1)
ax.fill_between(pred_ci.index,
                pred_ci.iloc[:, 0],
                pred_ci.iloc[:, 1], color='k', alpha=.25)
pred.predicted_mean.plot(label='One-step ahead Forecast', alpha=.7, figsize=(12, 6),color = 'r')

ax.set_xlabel('Date')
ax.set_ylabel('Moisture')
plt.ylim((35,150))
plt.legend()
plt.show()

In [ ]:
y_forecasted = pred.predicted_mean
mse = ((y_forecasted - y_train.moisture['2020-09-10 23:00:00':]) ** 2).mean()
print('The Mean Squared Error of our forecasts is {}'.format(round(mse, 2)))
print('The Root Mean Squared Error of our forecasts is {}'.format(round(np.sqrt(mse), 2)))

In [ ]:
pred_uc = results.get_forecast(steps=100)
pred_ci = pred_uc.conf_int()
ax = y.plot(label='observed', figsize=(14, 7))
pred_uc.predicted_mean.plot(ax=ax, label='Forecast')
ax.fill_between(pred_ci.index,
                pred_ci.iloc[:, 0],
                pred_ci.iloc[:, 1], color='k', alpha=.25)
ax.set_xlabel('Date')
ax.set_ylabel('Moisture')
plt.ylim((0,150))
plt.legend()
plt.show()

In [ ]:
y_forecasted = pred_uc.predicted_mean
y_truth = y_test['moisture']['2020-09-16 03:32:15':]
mse = ((y_forecasted - y_truth) ** 2).mean()
print('The Mean Squared Error of our forecasts is {}'.format(round(mse, 2)))
print('The Root Mean Squared Error of our forecasts is {}'.format(round(np.sqrt(mse), 2)))